*.bat whitespace=cr-at-eol
*.bat eol=crlf
*.vcproj eol=crlf
*.vcproj whitespace=cr-at-eol
*.vcxproj eol=crlf
*.vcxproj whitespace=cr-at-eol
*.sln eol=crlf
*.sln whitespace=cr-at-eol
*.vbs eol=crlf
*.vbs whitespace=cr-at-eol
*.rc  eol=crlf
*.rc  whitespace=cr-at-eol

LICENSE eol=crlf
LICENSE whitespace=cr-at-eol

*.md  eol=lf
*.ipf eol=lf
*.c   eol=lf
*.h   eol=lf
*.sh  eol=lf
*.itx eol=lf
*.tex eol=lf
*.awk eol=lf

.git*                 export-ignore
*.sh                  export-ignore
tools                 export-ignore
Packages/Testing-MIES export-ignore
NIDAQmx.XOP           export-ignore
NIDAQmx64.XOP         export-ignore
Packages/Arduino/*zip export-ignore
Packages/Arduino/*exe export-ignore

*.dot !diff

*.exe binary
*.zip binary
*.pdb binary

*.ipf whitespace=indent-with-non-tab,tabwidth=4
*.ibw binary
*.xop binary
*.pxp binary
*.pxt binary
*.uxp binary
*.uxt binary
*.ihf binary
*.ifn binary
*.ift binary
