[submodule "Packages/unit-testing"]
	path = Packages/unit-testing
	url = https://github.com/byte-physics/igor-unit-testing-framework
[submodule "Packages/IPNWB"]
	path = Packages/IPNWB
	url = https://github.com/AllenInstitute/IPNWB
[submodule "Packages/ZeroMQ-XOP"]
	path = Packages/ZeroMQ
	url = https://github.com/AllenInstitute/ZeroMQ-XOP
[submodule "Packages/ITCXOP2"]
	path = Packages/ITCXOP2
	url = https://github.com/AllenInstitute/ITCXOP2
[submodule "Packages/doc/doxygen-filter-ipf"]
	path = Packages/doc/doxygen-filter-ipf
	url = https://github.com/byte-physics/doxygen-filter-ipf
