# Documentation files
Packages/doc/html
Packages/doc/IPNWB
Packages/doc/doctrees
Packages/doc/sphinx-output.log

Packages/MIES/backup
*.orig
*.rej
*.T0
*.autosave

# mies version file
version.txt

# User analysis functions
Packages/MIES/UserAnalysisFunctions.ipf

# temp files created by Visual Studio
*.aps
*.obj
*.suo
*.ncb
*.idb
*.pdb
*.dep
BuildLog.htm
*.pch
*.ilk
*.vcproj.*
*.vcxproj.*
*.manifest
*.sdf
*.opensdf
*.opendb
*.bsc
**/VC2015/*.xop
.vs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
UserConfig*.txt
JU_*.xml
tools/unit-testing/HardwareTests.nwb
