Packages/doc/html
Packages/MIES/backup
*.orig
*.rej
*.T0

# mies version file
version.txt

# temp files created by Visual Studio
*.aps
*.obj
*.suo
*.ncb
*.idb
*.pdb
*.dep
BuildLog.htm
*.pch
*.ilk
*.vcproj.*
*.vcxproj.*
*.manifest
