Adam Taylor <adamlyletaylor@gmail.com>
Alex Hoggarth <alexho@alleninstitute.org>
Charlie Cornish <charliec@alleninstitute.org>
David Reid <davidre@alleninstitute.org>
Luke Campagnola <lukec@alleninstitute.org>
Matthias Kastner <matthias.kastner@byte-physics.de>
Stephanie Seeman <stephanies@alleninstitute.org> ALLENINST\stephanies <stephanies@alleninstitute.org>
Thomas Braun <thomas.braun@byte-physics.de> <thomas.braun@virtuell-zuhause.de>
Tim Jarsky <timj@alleninstitute.org> TimJ <timj@alleninstitute.org>
