# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
         (?x) # verbose re
         ( # start alternations
           # not our code
           ^Packages/MIES/IPA_Control.ipf|
           ^tools/installer/nsis|
           ^tools/installer/Shelllink|
           ^tools/installer/AccessControl|
           # patch and svg files always have trailing whitespace
           .*patch$|
           .*svg$|
           # don't touch MacOSX XOPs
           ^XOPs-MacOSX-64bit|
           ^Packages/ITCXOP2/tools/Disable-ASLR-for-Igor64.ps1
         ) # end alternations
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: fix-byte-order-marker
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-yaml
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/sirosen/texthooks
  rev: 0.7.1
  hooks:
  - id: forbid-bidi-controls
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.9.0
  hooks:
    - id: black
      language_version: python3.13
- repo: local
  hooks:
    - id: ipt-format-and-lint
      name: Make Igor Pro code fantastic
      language: script
      files: \.ipf$
      exclude: |
               (?x) # verbose re
               ( # start alternations
               ACL_TabUtilities.ipf|
               ACL_UserdataEditor.ipf|
               ZeroMQ_Interop.ipf
               )
      entry: ./tools/run-ipt.sh lint -i --noreturn-func=FATAL_ERROR|SFH_FATAL_ERROR|FAIL
- repo: local
  hooks:
    - id: custom-check-code
      pass_filenames: false
      name: Hacky code linting
      language: script
      entry: ./tools/check-code.sh
